.form-container {
    margin-top: 240px;
    margin-left: 200px;
    background-color: #EEE;
    width: 800px;
    -webkit-box-shadow: -1px 2px 8px 0px rgba(255,59,59,1);
    -moz-box-shadow: -1px 2px 8px 0px rgba(255,59,59,1);
    box-shadow: -1px 2px 8px 0px rgba(255,59,59,1);
    padding: 20px;
}

.amatic {
    font-size: 25px;
    font-family: 'Amatic SC' !important;
}

.amatic-bolded {
    font-family: 'Amatic' !important;
    font-size: 25px;
}

.header-text {
    font-size: 35px;
}

.submit-button {
    float: right;
}

.animation {
    display: block;
    float: left;
    margin: 8px 8px 0px 8px;
}