body {
    background: url(assets/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'Amatic SC';
    src: url(assets/amatic/AmaticSC-Regular.ttf) format('truetype'),
}

@font-face {
    font-family: 'Amatic';
    src: url(assets/amatic/Amatic-Bold.ttf) format('truetype'),
}

